.card_main {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 250px;
  width: calc(100vw / 4 + 20px);
  // background-color: yellow;
  background-image: linear-gradient(to right, #a18cd1, #fbc2eb);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-cards {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;

    &-first {
      margin-left: 10px;
      max-width: 50%;
      height: 60px;
    }

    &-main {
      margin-left: 20px;
    }

    &-main p {
      color: #05154e;

      &:first-child {
        font-size: 25px;
        // color: green;
      }

      &:nth-child(2) {
        font-size: 15px;
        // color: green;
      }
    }
  }

  &-cards2 {
    margin-top: 5px;
    width: 94%;
    height: 120px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
  }
}