@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

.testimonial {
  margin-top: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;

  &_head {
    padding: 6px 12px;
    background-image: linear-gradient(to left, #667eea, #764ba2);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    margin-bottom: 30px;

    @include respond(phone) {
      font-size: 24px;
    }
  }
}