@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.login_main {
  height: 80vh;
  width: 70%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  &-box {
    width: 100vw;
    height: 100vh;
    // background-color: #a/18cd1;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    left: -15%;
    top: -14%;
    @include secondary-gradient;

    & img{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 80%;
      height: 90px;
      width: 90px;
    }
  }

  &_second {
    display: flex;
    flex-direction: column;
    // margin-left: 100px;
    // padding-top: 5rem;
    // padding-left: 6rem;
    // padding: 20px;
    height: 100%;
    width: 80%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-head {
      font-family: "Montserrat", sans-serif;
      padding: 20px;

    }

    h1 {
      font-weight: bold;
    }

    & .inputs {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      margin: 10px;
    }

    &-form {
      width: 240px;
      margin: 10px;
      height: 40px;
      background-color: none;
      padding: 10px;
      text-align: center;
      color: red;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;

      &-gl {
        height: 30px;
        width: 30px;
        margin-right: 10px;
      }


    }

    & form{
      display: flex;
      flex-direction: column;
      width: 240px;
      background-color: white;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      margin: 10px 0;

      & input{
        padding: 10px 10px;
        margin: 10px 0;
        border: none;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.2);


        &:focus{
          outline: none;
        }
      }
    }

    &-form1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      width: 240px;
      border-radius: 10px;


      & input {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        padding: 8px 10px;
        width: 80%;
      }
    }

    &-form2 {
      display: flex;
      flex-direction: column;
      padding: 20px;
      align-items: center;

      input {
        border: none;
      }
    }

    &-form3 {
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      align-items: center;
      font-weight: bold;
      border-radius: 10px;
      width: 240px;

      background-color: blueviolet;
      input {
        border: none;
      }

      color: white;
    }
  }
}

.text {
  justify-content: center;
  padding: 20px;
  align-items: center;
  font-weight: bold;
  display: flex;
  color: blueviolet;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  width: 100%;
}

.text1 {
  justify-content: center;
  padding: 20px;
  align-items: center;
  font-weight: bold;
  display: flex;
  color: black;
}