@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  height: 74px;
  width: 100vw;
  background-image: linear-gradient(to right, #FBC2EB, #A6C1EE); }
  .header__c {
    display: flex;
    align-items: center;
    padding: 10px 24px; }
    .header__c-logo {
      height: 50px;
      width: 50px;
      object-fit: contain; }
    .header__c nav {
      margin-left: auto;
      margin-right: auto; }
      .header__c nav ul {
        list-style: none;
        display: flex;
        align-items: center; }
        .header__c nav ul li {
          display: flex;
          align-items: center;
          background-color: white;
          margin: 0 6px;
          padding: 8px 14px;
          border-radius: 0 10px 0 10px;
          cursor: pointer; }
          .header__c nav ul li span {
            line-height: 1;
            margin-left: 8px; }
          .header__c nav ul li:hover {
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); }
    .header__c .auth ul {
      list-style: none;
      display: flex;
      align-items: center; }
      .header__c .auth ul li {
        display: flex;
        align-items: center;
        background-color: white;
        margin: 0 1px;
        padding: 8px 14px;
        cursor: pointer; }
        .header__c .auth ul li:first-child {
          border-radius: 10px 0 0 10px; }
        .header__c .auth ul li:nth-child(2) {
          border-radius: 0 10px 10px 0; }
        .header__c .auth ul li span {
          line-height: 1;
          margin-left: 8px; }
        .header__c .auth ul li:hover {
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); }
    .header__c .auth__profile-img {
      height: 50px;
      width: 50px; }

.footer {
  width: 100vw;
  height: 500px;
  background-image: linear-gradient(to left, #e6e9f0, #eef1f5);
  display: flex;
  justify-content: space-evenly; }
  .footer_main_copyright {
    height: 100%;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer_main_copyright-logo {
      width: 50px;
      height: 100px;
      object-fit: contain; }
  .footer_main_second {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly; }
    .footer_main_second-follow {
      font-size: 2rem;
      color: #0a11cb;
      text-decoration: underline; }
    .footer_main_second-logos {
      margin-top: 0px;
      display: flex;
      width: 50%;
      justify-content: space-evenly; }
      .footer_main_second-logos-icon {
        width: 40px;
        height: 40px;
        object-fit: contain; }
    .footer_main_second-links {
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
    .footer_main_second-links a {
      color: #16194F;
      text-decoration: none; }
  .footer_play {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer_play-logo {
      margin-top: 40px;
      height: 70px;
      width: 150px; }
    .footer_play-logo2 {
      margin-top: 10px; }
    .footer_play-text {
      margin-top: 10px;
      color: #0A66C2; }

.testimonial {
  margin-top: 20px;
  height: 25rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .testimonial_head {
    margin-top: 2rem;
    height: 50px;
    width: 300px;
    background-image: linear-gradient(to left, #667eea, #764ba2);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px; }
  .testimonial-card {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center; }

.card_main {
  height: 250px;
  width: 400px;
  background-image: linear-gradient(to right, #a18cd1, #fbc2eb);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .card_main-cards {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center; }
    .card_main-cards-first {
      margin-left: 10px;
      width: 140px;
      height: 60px; }
    .card_main-cards-main {
      margin-left: 20px; }
    .card_main-cards-main p {
      color: #05154e; }
      .card_main-cards-main p:first-child {
        font-size: 25px; }
      .card_main-cards-main p:nth-child(2) {
        font-size: 15px; }
  .card_main-cards2 {
    margin-top: 5px;
    width: 350px;
    height: 120px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center; }

.Patners {
  margin-top: 20px;
  height: 30rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .Patners_head {
    margin-top: 2rem;
    height: 50px;
    width: 300px;
    background-image: linear-gradient(to left, #667eea, #764ba2);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px; }
  .Patners_company {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-evenly; }
    .Patners_company-logo {
      width: 200px;
      height: 150px;
      box-shadow: rgba(0, 0, 0, 0.5); }
    .Patners_company-logo1 {
      width: 200px;
      height: 100px;
      box-shadow: rgba(0, 0, 0, 0.5); }

.perfect {
  margin-top: 20px;
  background-color: red;
  background-image: linear-gradient(to right, #30CFD0, #330867);
  height: 500px;
  width: 100%;
  border-radius: 600px 600px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around; }
  .perfect-head {
    margin-top: 10px;
    font-size: 2rem;
    color: white;
    text-decoration: underline; }
  .perfect-logo {
    width: 60em;
    height: 300px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center; }
    .perfect-logo-img {
      width: 300px;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
      text-align: center; }
      .perfect-logo-img-1 {
        height: 200px;
        width: 200px; }
    .perfect-logo-img span {
      color: white;
      font-size: 2em; }

.patners {
  width: 100px;
  height: 150px; }
